source [find interface/stlink.cfg]
# Target MCU
transport select swd
set CHIPNAME stm32f0x
source [find target/stm32f0x.cfg]

# Programming Settings
reset_config srst_nogate

# Init and Program
adapter speed 500
init
targets
reset halt

flash erase_sector 0 0 last
program HEX_FILE_HERE verify reset

shutdown
