source [find interface/stlink.cfg]

# Target MCU
transport select swd
source [find target/stm32f0x.cfg]

# Programming Settings
reset_config srst_nogate

# Init and Program
adapter speed 500
init
targets
reset halt

program ESS_GEN2_Bootloader_v1_0.hex verify reset

shutdown
